<app-navbar></app-navbar>
<div class="container py-4">
    <p *ngIf="loading">Loading...</p>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="cachedAt" class="alert alert-warning">
        Unable to reach the server. Showing data saved on {{ cachedAt | date: 'medium' }}.
    </div>

    <ng-container *ngIf="data">
        <h2 class="mb-3">Overview</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                <div class="card-header">Card Title</div>
                <div class="card-body">
                    <app-donut-chart [data]="data.chartDonut"></app-donut-chart>
                </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                <div class="card-header">Card Title</div>
                <div class="card-body">
                    <app-bar-chart [data]="data.chartBar"></app-bar-chart></div>
                </div>
            </div>
        </div>

        <h2 class="mb-3">User List</h2>
        <table class="table table-bordered user-table">
            <thead>
                <tr>
                    <th class="col-index">#</th>
                    <th class="col-name">First Name</th>
                    <th class="col-name">Last Name</th>
                    <th class="col-username">User Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of data.tableUsers; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td class="col-username">@{{ user.username }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>